input {
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding: 0px 20px;
  height: 50px;
  width: 500px;
  font-size: 20px;
  transition: all 0.2s;
}
input:focus {
  outline: none;
  transform: scale(1.05);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.25);
}

button {
  background: #333;
  color: #ccc;
  border: 0;
  cursor: pointer;
  width: 10%;
  height: 30px;
  border-radius: 5px;
  font-size: 15px;
}
